@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_resultados {
    width: 90%;
    height: 100%;
    max-width: 1920px;
    margin: auto;
    padding-bottom: 5%;
    padding-top: 8%;
}

.subtitulo_secao {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #4B0082;
    text-transform: uppercase;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    max-width: 45%;
    color: #4B0082;
    line-height: 50px;
}

.alinhamento_secao {
    display: flex;
    margin-top: 2%;
}

.dados_financiamento {
    width: 280px;
    height: 350px;
    background-color: #F0F0F0;
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
}

.alinhamento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 75%;
}

.alinhamento_secao h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #4B0082;
}

.dados_simulacao {
    width: 280px;
    height: 350px;
    border-style: solid;
    border-color: #f0f0f0;
}

.alinhamento_simulacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 61px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

table {
    width: 95%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: 5%;
}

th {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #4B0082;
    text-align: center;
}

.tabela_fixos {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: gray;
    font-weight: 600;
    padding-left: 1.5%;
}

.tabela_valores {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.imagens{
    width: 40px;
    height: 40px;
}

.alinhamento_creditos{
    display: flex;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.btn_tabela{
    background-color: #4B0082;
    color: #FFF623;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    padding: .2rem 1rem;
    margin-left: .3rem;
}

.titulo_modal{
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    color: #4B0082;
    line-height: 50px;
}

.modal_sobreposicao {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

.modal_alinhamento {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
}

.modal_conteudo {
    display: flex;
    justify-content: flex-end;
}

.fechar_modal {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
}

.btn{
    background-color: #4B0082;
    color: #FFF623;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
}

.btn_salvar {
    background: #FFF623;
    color: #4B0082;
    font-size: .9rem;
    font-weight: 700;
    border: none;
    width: 35%;
    height: 30px;
    border-radius: 15px;
}

.input_modal {
    width: 95%;
    height: 50px;
    border-radius: 20px;
    background-color: #f0f0f0;
    border: none;
    margin-bottom: 4%;
}

.input_secao {
    width: 95%;
    height: 30px;
    border-radius: 20px;
    background-color: #f0f0f0;
    margin-bottom: 5%;
    margin-top: 5%;
    border: 1px solid #000;
}

.simulacao_texto{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 1px;
}

.fundo_cinza{
    background-color: #c6c6c6;
}